

<div class="modal fade" id="_detailsModal" tabindex="-1" role="dialog" aria-labelledby="_detailsModal" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document" style="max-width: 1200px !important;">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title margin-0 pull-left " style="font-weight:bold" id="_detailsModal">Project Task Details</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <div class="clearfix"></div>
            </div>
            <div class="modal-body p-3">
                <table class="table  table-condensed" id="projecttaskdetails">
                    <thead>

                        <tr class="Grid_HeaderStyle">
                            <th>Task Description</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="ItemColor text-center">
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr>
                        </tr>
                    </tfoot>
                </table>
                <br />
                <br />
            </div>
        </div>
    </div>
</div>