@using ErpOnClick.ErpMain.Resources

@inject LocService SharedLocalizer

@{

    string _baseUrl = Convert.ToString(ViewData["baseUrl"]);
}

<aside class="page-sidebar">

    <div class="page-logo">
        <a href="#" class="page-logo-link press-scale-down d-flex align-items-center position-relative" data-toggle="modal" data-target="#modal-shortcut">
            <img src="~/admin/dist/img/logo.png" alt="Nayel Solutions WebApp" aria-roledescription="logo">
            <span class="page-logo-text mr-1">Al riyadah College</span>
            <span class="position-absolute text-white opacity-50 small pos-top pos-right mr-2 mt-n2">ERP Modules</span>
            <i class="fal fa-angle-down d-inline-block ml-1 fs-lg color-primary-300"></i>
        </a>
    </div>
    <!-- BEGIN PRIMARY NAVIGATION -->
    <nav id="js-primary-nav" class="primary-nav" role="navigation">
    
        <div class="info-card">
      
            <img src="~/admin/dist/img/card-backgrounds/cover-2-lg.png" class="cover" alt="cover">
      
        </div>
        <!--
        TIP: The menu items are not auto translated. You must have a residing lang file associated with the menu saved inside dist/media/data with reference to each 'data-i18n' attribute.
        -->



        @Html.Partial("HrLayoutMain/_nav", ViewData)


        <div class="filter-message js-filter-message bg-success-600"></div>
    </nav>
    <!-- END PRIMARY NAVIGATION -->
    <!-- NAV FOOTER -->
    <div class="nav-footer shadow-top">
        <a href="#" onclick="return false;" data-action="toggle" data-class="nav-function-minify" class="hidden-md-down">
            <i class="ni ni-chevron-right"></i>
            <i class="ni ni-chevron-right"></i>
        </a>
        @*<ul class="list-table m-auto nav-footer-buttons">
            <li>
                <a href="javascript:void(0);" data-toggle="tooltip" data-placement="top" title="Chat logs">
                    <i class="fal fa-comments"></i>
                </a>
            </li>
            <li>
                <a href="javascript:void(0);" data-toggle="tooltip" data-placement="top" title="Support Chat">
                    <i class="fal fa-life-ring"></i>
                </a>
            </li>
            <li>
                <a href="javascript:void(0);" data-toggle="tooltip" data-placement="top" title="Make a call">
                    <i class="fal fa-phone"></i>
                </a>
            </li>
        </ul>*@
    </div> <!-- END NAV FOOTER -->
</aside>